// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// my colors
$first:rgb(255, 254, 254);
$second: rgb(131, 19, 146);
$title: rgb(0, 0, 0);
$text: rgb(75, 75, 75);
