<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
        <h1>Expériences</h1>
        <div class="home_experience">
          <p class="text-left"> Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
          <%= link_to "Voir le détail des éxperiences", experiences_path , class: "btn btn-ghost" %>
        </div>
		</div>
	</div>
</div>
