
<footer id="footer">
      <%# <%= link_to "Contactez moi !", new_contact_path, class:"footer-text" %> %>
      <a href="https://drive.google.com/file/d/16bWbF2mTP-hoC8Br58Akk35QMjQietOD/view?usp=sharing" target="_blank" class="footer-text" >Télécharger mon cv ici !</a>
      <div>
        <a href="https://www.linkedin.com/in/tha%C3%AFs-paris-4aa343198/" target="_blank" class="footer-text" >Mon linkedin</a>
        <a href="https://www.linkedin.com/in/tha%C3%AFs-paris-4aa343198/" target="_blank"  class="footer-text"><i class="fab fa-linkedin"></i></a>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to "TP", destroy_user_session_path, method: :delete, class:"footer-text" %>
        <% else%>
          <%= link_to "TP", new_user_session_path, class:"footer-text"%>
        <% end %>
      </div>
</footer>
