<div class="container mt-4 p-5 fullheight">
  <div class="row">
   <div class="col-12 col-sm-10 col-lg-8 col-xl-6 m-auto">

    <h1>Nouvelle experience</h1>

    <%= render 'form', experience: @experience %>

   </div>
  </div>
</div>
