<div class="container mt-4 p-5 fullheight">
  <div class="row">
   <div class="col-12 col-sm-10 col-lg-8 col-xl-6 m-auto">

    <h1>Editer cette formation </h1>
    <h3 class='text-secondary mb-4'><%= @formation.diplome %></h3>

    <%= render "form", formation: @formation %>

   </div>
  </div>
</div>
