.yellow{
  background-color: rgb(255, 255, 219);
}
.blue{
  background-color: #ebe8ff;
}
.purple{
  background-color: #faeaff;
}
.green{
  background-color: rgb(241, 255, 240);
}
.pink{
  background-color: rgb(252, 232, 232);
}
.red{
  background-color: rgb(255, 236, 236);
}
.light_blue{
  background-color: #e9f7ff;
}
.orange{
  background-color: rgb(255, 251, 239);
}
.green_blue{
  background-color: rgba(241, 255, 255, 0.959);
}
