// block de toute les pages
.titre-block{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Oswald', "sans-serif";
  // border: 1px solid $title;
  // padding: 10px 0px 10px 0px;
  // width: 250px;
  // background-color: white;
}

.block {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-bottom: 30px;
  padding: 20px 20px 20px 50px;
  // haut, droite, bas, gauche
  }



// block de la page compétence
.block-competences {
  display: flex;
  flex-wrap:wrap;
  margin-left: 60px;
  margin-right: 60px;
  .competence_content {
    background-color: $first;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 21%;
    padding: 10px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid $title;
    text-align: center;
    // haut, droite, bas, gauche
  }
}


// block Home
.H-block-competences {
  display: flex;
  flex-wrap:wrap;
  margin : 28px 10px 0px 10px;
  .H-competence_content {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 42%;
    // height: 47px;
    border-radius: 6px;
    border: 1px solid $title;
    text-align: center;
    font-size: 4px;
  }
}
