form {
  max-width:420px;
  margin:50px auto;
  padding-bottom: 75px;
  label {
    display: none;
  }
}

.form-control {
  color: black;
  font-size: 18px;;
  border-radius: 5px;
  // line-height: 22px;
  background-color: white ;
  border:1px solid $title;
  transition: all 0.3s;
  padding: 15px;
  margin-bottom: 38px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

#contact_message{
  padding: 29px 0px 98px 15px;
}

// textarea {
//   height: 150px;
//   line-height: 150%;
//   resize:vertical;
// }
