* { box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cube > div:hover {
  cursor: grab; }

#wrapper {
  padding-top: 10%;
  padding-bottom: 15%;
}

.viewport {
  -webkit-perspective: 390px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1)));
}

.cube {
  width: 390px;
  height: 390px;
  position: relative;
    margin: 0 auto;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(136deg) rotateY(1122deg);
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg);
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  h1{
    font-size: 18px;
    font-family: 'Poppins', "sans-serif";
  }
  h4{
    font-size: 14px;
  }
  p{
    font-family: 'Poppins', "sans-serif";
    font-size: 10px;
    line-height: 15px;
  }
  .btn-ghost {
    font-size: 12px;
    margin: 0px 138px 0px 0px;
    border-radius: 5px;
  }
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
}

// profile
.cube__face--front  {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateX(90deg) translateZ(195px);
  padding: 45px 25px 0px 30px;
  -webkit-transform: rotateX(90deg) translateZ(195px);
  -moz-transform: rotateX(90deg) translateZ(195px);
  -ms-transform: rotateX(90deg) translateZ(195px);
  -o-transform: rotateX(90deg) translateZ(195px);
  outline: 1px solid transparent;
}

// compétences
.cube__face--right  {
  background: rgba(255, 255, 255, 0.97);
  transform: translateZ(195px);
  padding: 45px 15px 0px 15px;
  text-align: center;
  line-height: 43px;
  -webkit-transform: translateZ(195px);
  -moz-transform: translateZ(195px);
  -ms-transform: translateZ(195px);
  -o-transform: translateZ(195px);
  outline: 1px solid transparent;
}

//Photo
.cube__face--back   {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(90deg) translateZ(195px);
  -webkit-transform: rotateY(90deg) translateZ(195px);
  -moz-transform: rotateY(90deg) translateZ(195px);
  -ms-transform: rotateY(90deg) translateZ(195px);
  -o-transform: rotateY(90deg) translateZ(195px);
  outline: 1px solid transparent;
}

// Formation
.cube__face--left   {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(180deg) translateZ(195px);
  padding: 30px 25px 0px 29px;;
  -webkit-transform: rotateY(180deg) translateZ(195px);
  -moz-transform: rotateY(180deg) translateZ(195px);
  -ms-transform: rotateY(180deg) translateZ(195px);
  -o-transform: rotateY(180deg) translateZ(195px);
  outline: 1px solid transparent;
  .home_formation{
    margin-top: 10px;
  }
}

//Experiences
.cube__face--top {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(-90deg) translateZ(195px);
  padding: 98px 52px 0px 57px;;
  -webkit-transform: rotateY(-90deg) translateZ(195px);
  -moz-transform: rotateY(-90deg) translateZ(195px);
  -ms-transform: rotateY(-90deg) translateZ(195px);
  -o-transform: rotateY(-90deg) translateZ(195px);
  outline: 1px solid transparent;
  .home_experience{
    margin-top: 43px;
  }
}


// contact
.cube__face--bottom {
  background: rgba(255, 255, 255, 0.97);
  line-height: 0px;
  text-align: center;
  padding: 47px 75px 0px 75px;
    transform: rotateX(-90deg) rotate(180deg) translateZ(195px);
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(195px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(195px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(195px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(195px);
  outline: 1px solid transparent;
  h1{
    margin: 8px 0px -17px 0px;
  }
  label {
    display: none;
  }
  .form-control {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 16px;
    outline:0;
  }
  #contact_message{
    padding: 14px 0px 55px 10px;
  }
}


.cube > div {
  overflow: hidden;
  position: absolute;
  opacity: 0.9;
  height: 390px;
  width: 390px;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  // -touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.cube > div > div.cube-image {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
}




@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); }
  }
