* { box-sizing: border-box; }

.scene {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 130px;
  margin-bottom: 10px;
  width: 390px;
  height: 390px;
  border: none;
  perspective: 400px;
}

.cube {
  width: 390px;
  height: 390px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  h1{
    font-size: 18px;
    font-family: 'Poppins', "sans-serif";
  }
  h4{
    font-size: 14px;
  }
  p{
    font-family: 'Poppins', "sans-serif";
    font-size: 10px;
    line-height: 15px;
  }
}

// profile
.cube__face--front  {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(  0deg) translateZ(195px);
  padding: 45px 25px 0px 30px;
}

// compétences
.cube__face--right  {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY( 90deg) translateZ(195px);
  padding: 45px 15px 0px 15px;
  text-align: center;
  line-height: 43px;
}

//Photo
.cube__face--back   {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(180deg) translateZ(195px);
}

// Formation
.cube__face--left   {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateY(-90deg) translateZ(195px);
  padding: 30px 25px 0px 29px;;
  .home_formation{
    margin-top: 10px;
  }
}

//Experiences
.cube__face--top    {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateX( 90deg) translateZ(195px);
  padding: 98px 52px 0px 57px;;
  .home_experience{
    margin-top: 43px;
  }
}


// contact
.cube__face--bottom {
  background: rgba(255, 255, 255, 0.97);
  transform: rotateX(-90deg) translateZ(195px);
  line-height: 0px;
  text-align: center;
  padding: 12px 35px 0px 35px;
}


.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.cube.is-spinning {
  animation: spinCube 20s infinite ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}
